@import "components/_1_modal-window.css";
@import "components/_1_popover.css";
@import "components/_1_radios-checkboxes.css";
@import "components/_1_tabs.css";
@import "components/_1_tooltip.css";
@import "components/_1_expandable-search.css";

[x-cloak] {
    display: none !important;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply text-sm;
    color: #303030;
    line-height: 1.55;
}

p {
    line-height: 1.55;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

/* --------------------------------

Forms

-------------------------------- */
.form-label {
    display: flex;
    line-height: 1.55;
    margin-bottom: 0.25rem;
    word-break: break-word;
    overflow-wrap: break-word;
}

.search-input::-webkit-search-decoration, .search-input::-webkit-search-cancel-button, .search-input::-webkit-search-results-button, .search-input::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.search-input::-ms-clear, .search-input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* --------------------------------

Buttons

-------------------------------- */

/*Default*/
.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0.5rem;
    font-weight: 550;
    line-height: 1;
    box-shadow: 0 1px 0 0 #E3E3E3 inset, 1px 0 0 0 #E3E3E3 inset, -1px 0 0 0 #E3E3E3 inset, 0 -1px 0 0 #B5B5B5 inset;
    background-color: white;
    @apply text-xs antialiased px-2 py-2;
}

.btn:hover {
    box-shadow: 0 1px 0 0 #EBEBEB inset, -1px 0 0 0 #EBEBEB inset, 1px 0 0 0 #EBEBEB inset, 0 -1px 0 0 #CCC inset;
    @apply bg-neutral-50;
}

.btn:active {
    box-shadow: 0 2px 1px 0 rgba(26, 26, 26, 0.20) inset, 1px 0 1px 0 rgba(26, 26, 26, 0.12) inset, -1px 0 1px 0 rgba(26, 26, 26, 0.12) inset;
    @apply bg-neutral-50;
}

.btn:focus {
    outline: none;
}

/*Primary*/
.btn--primary {
    color: white;
    background-image: linear-gradient(180deg,rgba(48,48,48,0) 63.53%,hsla(0,0%,100%,.15)) !important;
    box-shadow: 0 -0.0625rem 0 0.0625rem rgba(0,0,0,.8) inset,0 0 0 0.0625rem #303030 inset,0 0.03125rem 0 0.09375rem hsla(0,0%,100%,.25) inset;
}

.btn.btn--primary:hover {
    box-shadow: 0 -0.0625rem 0 0.0625rem rgba(0,0,0,.8) inset,0 0 0 0.0625rem #303030 inset,0 0.03125rem 0 0.09375rem hsla(0,0%,100%,.25) inset;
    @apply bg-primary-950;
}

.btn:active.btn--primary {
    box-shadow: 0 0.1875rem 0 0 #000 inset;
    @apply text-neutral-100;
}

/*Primary critical*/
.btn--primary-critical {
    background-image: none;
    box-shadow: 0 -0.0625rem 0 0.0625rem rgba(142,31,11,.8) inset,0 0 0 0.0625rem rgba(181,38,11,.8) inset,0 0.03125rem 0 0.09375rem hsla(0,0%,100%,.349) inset;
    @apply !bg-red-600;
}

.btn--primary-critical:hover {
    box-shadow: 0 -0.0625rem 0 0.0625rem rgba(142,31,11,.8) inset,0 0 0 0.0625rem rgba(181,38,11,.8) inset,0 0.03125rem 0 0.09375rem hsla(0,0%,100%,.349) inset;
    @apply !bg-red-700;
}

.btn--primary-critical:active {
    box-shadow: -0.0625rem 0 0.0625rem 0 rgba(0,0,0,.2) inset,0.0625rem 0 0.0625rem 0 rgba(0,0,0,.2) inset,0 0.125rem 0 0 rgba(0,0,0,.6) inset;
    @apply !bg-red-800;
}

/*Primary success*/
.btn--primary-success {
    background-image: none;
    box-shadow: 0 -0.0625rem 0 0.0625rem rgba(12,81,50,.8) inset,0 0 0 0.0625rem rgba(19,111,69,.8) inset,0 0.03125rem 0 0.09375rem hsla(0,0%,100%,.251) inset;
    @apply !bg-green-700;
}

.btn--primary-success:hover {
    box-shadow: 0 -0.0625rem 0 0.0625rem rgba(12,81,50,.8) inset,0 0 0 0.0625rem rgba(19,111,69,.8) inset,0 0.03125rem 0 0.09375rem hsla(0,0%,100%,.251) inset;
    @apply !bg-green-800;
}

.btn--primary-success:active {
    box-shadow: -0.0625rem 0 0.0625rem 0 rgba(0,0,0,.2) inset,0.0625rem 0 0.0625rem 0 rgba(0,0,0,.2) inset,0 0.125rem 0 0 rgba(0,0,0,.6) inset;
    @apply !bg-green-900;
}

/*Secondary*/
.btn--secondary {
    color: #303030;
    box-shadow: none;
}

.btn--secondary:hover {
    box-shadow: none;
    background-color: #d4d4d4;
}

.btn--secondary:active {
    box-shadow: 0 0.125rem 0.0625rem 0 rgba(26,26,26,.2) inset,0.0625rem 0 0.0625rem 0 rgba(26,26,26,.12) inset,-0.0625rem 0 0.0625rem 0 rgba(26,26,26,.12) inset;
    background-color: #ccc;
}

/*Subtle*/
.btn--subtle {
    box-shadow: none;
    background-color: transparent;
}

.btn--subtle:hover {
    box-shadow: none;
    background-color: rgba(0,0,0,.05);
}

.btn--subtle:active {
    box-shadow: none;
    background-color: rgba(0,0,0,.08);
}

/*Plain*/
.btn--plain {
    box-shadow: none;
    background-color: transparent;
    font-weight: 450;
    @apply text-blue-600;
}

.btn--plain:hover {
    box-shadow: none;
    text-decoration: underline;
    text-underline-offset: 2px;
    background-color: transparent;
    @apply text-blue-900;
}

.btn--plain:active {
    box-shadow: none;
    background-color: transparent;
    @apply text-blue-900;
}

/*Plain critical*/
.btn--plain-critical {
    @apply text-red-600;
}

.btn--plain-critical:hover {
    @apply text-red-900;
}

.btn--plain-critical:active {
    @apply text-red-900;
}


/*Pressed*/
.btn--pressed {
    box-shadow: -0.0625rem 0 0.0625rem 0 rgba(26,26,26,.122) inset,0.0625rem 0 0.0625rem 0 rgba(26,26,26,.122) inset,0 0.125rem 0.0625rem 0 rgba(26,26,26,.2) inset;
    background-color: #ccc !important;
}

.btn--pressed:hover {
    box-shadow: -0.0625rem 0 0.0625rem 0 rgba(26,26,26,.122) inset,0.0625rem 0 0.0625rem 0 rgba(26,26,26,.122) inset,0 0.125rem 0.0625rem 0 rgba(26,26,26,.2) inset;
    background-color: #ccc;
}

.btn--pressed:active {
    box-shadow: -0.0625rem 0 0.0625rem 0 rgba(26,26,26,.122) inset,0.0625rem 0 0.0625rem 0 rgba(26,26,26,.122) inset,0 0.125rem 0.0625rem 0 rgba(26,26,26,.2) inset;
    background-color: #ccc;
}


/*Disabled*/
.btn[disabled], .btn[disabled]:hover, .btn[disabled]:active {
    user-select: none;
    pointer-events: none;
    box-shadow: none;
    cursor: default;
    color: rgba(0, 0, 0, 0.17);
    background-color: rgba(0,0,0,.05);
    background-image: none !important;
    text-decoration: none;
}

.btn[disabled].btn--primary, .btn[disabled].btn--primary:hover, .btn[disabled].btn--primary:active {
    color: white;
    background-color: rgba(0,0,0,.17);
}

.btn[disabled].btn--plain, .btn[disabled].btn--plain:hover, .btn[disabled].btn--plain:active {
    background-color: transparent;
    text-decoration: underline;
}

/* --------------------------------

Card

-------------------------------- */
.card {
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.13) inset, -1px 0 0 0 rgba(0, 0, 0, 0.13) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.17) inset, 0 1px 0 0 rgba(204, 204, 204, 0.5) inset;
    box-sizing: border-box;
}

.card::before {
    content: '';
    position: absolute;
    z-index: 2;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: luminosity;
    border-radius: 6px;
    box-shadow: 0.0625rem 0 0 0 rgba(0,0,0,.13) inset,-0.0625rem 0 0 0 rgba(0,0,0,.13) inset,0 -0.0625rem 0 0 rgba(0,0,0,.17) inset,0 0.0625rem 0 0 hsla(0,0%,80%,.5) inset;
    box-sizing: border-box;
}

.card {
    @apply lg:rounded-[12px] lg:before:rounded-[12px];
}

.card__inner {
    @apply p-3 lg:p-4
}


/* --------------------------------

Alert

-------------------------------- */

.alert {
    clip-path: inset(50%);
}

.alert--is-visible {
    clip-path: none;
}


/* --------------------------------

Circle Loader

-------------------------------- */
:root {
    --circle-loader-v1-size: 48px;
    --circle-loader-v1-stroke-width: 4px;
}

.circle-loader {
    position: relative;
    display: inline-block;
}

@supports ((-webkit-animation-name: this) or (animation-name: this)) {
    .circle-loader__label {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
    }
}
@supports ((-webkit-animation-name: this) or (animation-name: this)) {
    .circle-loader--v1 {
        transform: rotate(45deg);
        will-change: transform;
        animation: circle-loader-1 0.75s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .circle-loader--v1 .circle-loader__circle {
        width: var(--circle-loader-v1-size);
        height: var(--circle-loader-v1-size);
        border-width: var(--circle-loader-v1-stroke-width);
        border-style: solid;
        @apply border-primary-700/20;
        border-radius: 50%;
    }
    .circle-loader--v1 .circle-loader__circle::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: inherit;
        border-style: inherit;
        border-color: transparent;
        @apply border-t-primary-700;
        border-radius: inherit;
    }
}
@keyframes circle-loader-1 {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}
