/* --------------------------------

File#: _1_popover
Title: Popover
Descr: A pop-up box controlled by a trigger element
Usage: codyhouse.co/license

-------------------------------- */
:root {
    --popover-viewport-gap: 20px;
    --popover-transition-duration: 0.2s;
}

.popover {
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s var(--popover-transition-duration), opacity var(--popover-transition-duration);
}

.popover--is-visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity var(--popover-transition-duration);
}
